.carrito-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.carrito-img {
  height: 80%;
  object-fit: contain;
}

.cart-badge {
  position: absolute;
  top: -2px;
  right: -5px;

  background-color: #ff4757;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
