.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.menu-item {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.menu-item .menu-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #13327f;
  transition: transform 0.3s ease-in-out;
}

.menu-item .menu-item-link:hover,
.menu-item .menu-item-link.active {
  transform: scale(1.15);
}

.menu-item .menu-item-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 3px;
  background-color: #dc2226;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
  transform-origin: center;
}

.menu-item .menu-item-link.active::after {
  transform: scaleX(1);
}

.submenu {
  display: none;
  position: absolute;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  white-space: nowrap;

  left: 50%;
  transform: translateX(-50%);

  top: 100%;
  margin-top: 15px;

  background-color: #f0f0f0;

  padding: 10px 20px;
  border-radius: 50px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.products-dropdown:hover .submenu {
  display: flex;
}

.submenu-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu-item-link {
  display: block;
  text-decoration: none;
  color: #193d99;

  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s;
}

.submenu-item-link:hover {
  background-color: #dc2226;
  color: white;
}
